<template>
  <v-container>
    <!-- <landing-popup></landing-popup> -->
    <v-row>
      <v-col v-for="(item, i) in items" :key="i" cols="6">
        <visualisation-link :data="item" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { visualisations } from '@/Visualisations'

export default {
  name: 'Home',
  data: () => ({
    items: visualisations
  }),
  components: {
    // LandingPopup: () => import('@/components/LandingPopup'),
    VisualisationLink: () => import('@/components/VisualisationLink')
  }
}
</script>
