<template>
  <v-container>
    <chart title="Hours called per month" :options="timeCalledChart"/>
    <chart title="Calls made per month" :options="timesCalledChart"/>
    <v-sheet height="100px"></v-sheet>
  </v-container>
</template>

<script>
import { buildTimeSeries } from '@/Helpers'
export default {
  components: {
    Chart: () => import('@/components/Chart')
  },
  computed: {
    timeCalledChart () {
      return {
        chart: {
          zoomType: 'x'
        },
        xAxis: {
          type: 'datetime'
        },
        yAxis: {
          title: {
            text: 'Time (hours/month)'
          }
        },
        tooltip: {
          shared: true,
          valueDecimals: 2,
          valueSuffix: ' hours'
        },
        plotOptions: {
          series: {
            pointStart: 0,
            pointInterval: 1,
            enabled: false,
            marker: {
              enabled: false
            }
          }
        },
        series: [{
          type: 'spline',
          name: 'Time spent calling',
          color: '#d65858',
          data: buildTimeSeries(this.$store.state.corpus, [1, 'month'], 0, (localDataPoint, message) => {
            if (message.type === 'Call') {
              return localDataPoint + message.call_duration / 60 / 60
            } else {
              return localDataPoint
            }
          }).reverse()
        }]
      }
    },
    timesCalledChart () {
      return {
        chart: {
          zoomType: 'x'
        },
        xAxis: {
          type: 'datetime'
        },
        yAxis: {
          title: {
            text: 'Number of calls made'
          }
        },
        tooltip: {
          shared: false,
          valueDecimals: 0,
          valueSuffix: ' calls'
        },
        plotOptions: {
          series: {
            pointStart: 0,
            pointInterval: 1,
            enabled: false,
            marker: {
              enabled: false
            }
          }
        },
        series: [{
          type: 'spline',
          name: 'Number of calls made',
          color: '#58D67E',
          data: buildTimeSeries(this.$store.state.corpus, [1, 'month'], 0, (localDataPoint, message) => {
            if (message.type === 'Call') {
              return localDataPoint + 1
            } else {
              return localDataPoint
            }
          }).reverse()
        }]
      }
    },
    visualisationID () {
      return this.$route.params.visId
    }
  }
}
</script>
