<template>
  <v-container>
    <chart title="I Love You's sent over time" :options="tsNums"/>
    <proportions-messages label="Percentage of I Love You's sent by, " :corpus="loveCorpus" />
    <v-sheet height="100px"></v-sheet>
  </v-container>
</template>

<script>
import { getCorpusContainingPhrase, splitOnPerson, buildTimeSeries } from '@/Helpers'
export default {
  components: {
    ProportionsMessages: () => import('@/components/vis/ProportionsMessages'),
    Chart: () => import('@/components/Chart')
  },
  computed: {
    visualisationID () {
      return this.$route.params.visId
    },
    loveCorpus () {
      return getCorpusContainingPhrase(this.$store.state.corpus, 'I love you')
    },
    loveCorpusByPerson () {
      return splitOnPerson(this.loveCorpus)
    },
    tsNums () {
      const options = {
        chart: {
          zoomType: 'x'
        },
        xAxis: {
          type: 'datetime'
        },
        yAxis: {
          title: {
            text: 'Messages sent'
          }
        },
        tooltip: {
          shared: true
        },
        colors: ['pink', 'lightblue', 'green', 'red', 'purple', 'brown'],
        plotOptions: {
          series: {
            pointStart: 0,
            pointInterval: 1
          }
        },
        series: []
      }
      this.loveCorpusByPerson.forEach((corpusPerson, i) => {
        options.series.push({
          type: 'spline',
          lineWidth: 0,
          marker: {
            enabled: 'true',
            states: {
              hover: {
                enabled: 'true'
              }
            },
            radius: 5
          },
          states: {
            hover: {
              lineWidthPlus: 0
            }
          },
          name: corpusPerson.participants[0].name,
          data: buildTimeSeries(corpusPerson, [1, 'week'], 0, localDataPoint => localDataPoint + 1).reverse()
        })
      })
      return options
    }
  }
}
</script>
