<template>
  <v-container>
    <v-container>
      <v-card>
        <v-card-title>Reactions sent</v-card-title>
        <v-container>
          <v-row>
            <v-col style="text-align: center;" v-for="(reaction, key) in orderedReactions" :key="key">
              <h2>{{reaction.name}}</h2>
              {{reaction.messages.length}}
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-container>
    <chart title="Reactions over time" :options="tsNums"/>
    <v-sheet height="100px"></v-sheet>
  </v-container>
</template>

<script>
import _ from 'lodash'
import { getReactions, buildTimeSeries } from '@/Helpers'
export default {
  components: {
    Chart: () => import('@/components/Chart')
  },
  computed: {
    tsNums () {
      const options = {
        xAxis: {
          type: 'datetime'
        },
        yAxis: {
          title: {
            text: 'Messages sent'
          }
        },
        tooltip: {
          shared: true
        },
        colors: ['pink', 'lightblue', 'green', 'red', 'purple', 'brown'],
        plotOptions: {
          series: {
            pointStart: 0,
            pointInterval: 1,
            enabled: false,
            marker: {
              enabled: false
            }
          }
        },
        series: []
      }
      this.orderedReactions.forEach((corpusReaction, i) => {
        options.series.push({
          type: 'spline',
          name: corpusReaction.name,
          data: buildTimeSeries(corpusReaction, [1, 'week'], 0, (localDataPoint) => {
            return localDataPoint + 1
          }).reverse()
        })
      })
      return options
    },
    visualisationID () {
      return this.$route.params.visId
    },
    reactions () {
      return getReactions(this.$store.state.corpus)
    },
    orderedReactions () {
      return _.orderBy(this.reactions, 'messages.length', 'desc')
    }
  }
}
</script>
