<template>
  <v-container>
    <chart title="Sentiment by person by week" :options="tsNums"/>
    <chart title="Average sentiment by person" :options="sentimentByPerson"/>
    <v-container>
      <v-card>
        <v-card-title>Messages ranked by sentiment</v-card-title>
        <v-container style="display: flex;">
          <v-tabs icons-and-text v-model="tab">
            <v-tabs-slider color="primary"></v-tabs-slider>
            <v-tab>
              Positive
              <v-icon>mdi-heart</v-icon>
            </v-tab>
            <v-tab>
              Negative
              <v-icon>mdi-weather-lightning</v-icon>
            </v-tab>
          </v-tabs>
          <v-text-field hide-details type="number" style="width: 200px; margin: auto auto;" label="Minimum letters in message" v-model="minLengthComputed"></v-text-field>
        </v-container>
        <v-divider></v-divider>
        <v-tabs-items v-model="tab">
          <v-tab-item>
            <v-data-table :headers="headers" :items="mostHappyMessages.messages" :items-per-page="10"></v-data-table>
          </v-tab-item>
          <v-tab-item>
            <v-data-table :headers="headers" :items="mostSadMessages.messages" :items-per-page="10"></v-data-table>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-container>
    <v-sheet height="100px"></v-sheet>
  </v-container>
</template>

<script>
import _ from 'lodash'
import { getRankedSentimentFromCorpus, getSentimentOfCorpus, getSentimentForString, splitOnPerson, buildTimeSeries } from '@/Helpers'
export default {
  components: {
    Chart: () => import('@/components/Chart')
  },
  data: () => ({
    tab: null,
    minLength: 60,
    headers: [
      // { text: 'Rank', value: 'rank'},
      { text: 'Sender', value: 'sender_name', sortable: false },
      { text: 'Message', value: 'content', sortable: false },
      // { text: 'Score', value: 'score' },
      { text: 'Comparative score', value: 'comparative', sortable: false }
    ]
  }),
  computed: {
    minLengthComputed: {
      get () {
        return this.minLength
      },
      set: _.debounce(function (newValue) {
        this.minLength = newValue
      }, 200)
    },
    visualisationID () {
      return this.$route.params.visId
    },
    mostHappyMessages () {
      return getRankedSentimentFromCorpus(this.$store.state.corpus, 500, 'desc', this.minLengthComputed)
    },
    mostSadMessages () {
      return getRankedSentimentFromCorpus(this.$store.state.corpus, 500, 'asc', this.minLengthComputed)
    },
    sentimentByPerson () {
      const options = {
        chart: {
          type: 'column'
        },
        xAxis: {
          categories: ['Average comparative score']
        },
        yAxis: {
          min: -5,
          max: 5,
          alignTicks: false,
          tickInterval: 1
        },
        colors: ['pink', 'lightblue', 'green', 'red', 'purple', 'brown'],
        tooltip: {
          valueSuffix: ' points'
        },
        credits: {
          enabled: false
        },
        series: []
      }
      splitOnPerson(this.$store.state.corpus).forEach((corpusPerson) => {
        options.series.push({
          name: corpusPerson.participants[0].name,
          data: [parseInt(getSentimentOfCorpus(corpusPerson).comparative * 100) / 100]
        })
      })
      return options
    },
    tsNums () {
      const options = {
        chart: {
          zoomType: 'x'
        },
        tooltip: {
          shared: true,
          valueDecimals: 2,
          valueSuffix: ' points'
        },
        xAxis: {
          type: 'datetime'
        },
        yAxis: {
          title: {
            text: 'Comparative sentiment score'
          },
          labels: {
            formatter: function () {
              return this.value.toFixed(2)
            }
          },
          min: -5,
          max: 5,
          alignTicks: false,
          tickInterval: 1
        },
        colors: ['pink', 'lightblue', 'green', 'red', 'purple', 'brown'],
        plotOptions: {
          series: {
            pointStart: 0,
            pointInterval: 1,
            enabled: false,
            marker: {
              enabled: false
            }
          }
        },
        series: []
      }
      splitOnPerson(this.$store.state.corpus).forEach((corpusPerson, i) => {
        const timeSeriesData = buildTimeSeries(corpusPerson, [1, 'day'], '', (localDataPoint, message) => {
          if (message.content) {
            return localDataPoint + ' ' + message.content
          } else {
            return localDataPoint
          }
        }).reverse()
        timeSeriesData.forEach((messageGroup) => {
          messageGroup.y = getSentimentForString(messageGroup.y.toLowerCase().replace(/[&\\#,+()$~%.":*?!<>{}]/g, '').replace(/'/g, '’')).comparative
        })

        options.series.push({
          type: 'spline',
          name: corpusPerson.participants[0].name,
          data: timeSeriesData
        })
      })
      return options
    }
  }
}
</script>
