<template>
  <v-container>
    <v-container>
      <v-card :loading="loading">
        <v-card-title>Autocomplete</v-card-title>
        <v-container>
          <v-textarea outlined auto-grow v-model="text" label="Text to autocomplete"></v-textarea>
        </v-container>
        <v-divider></v-divider>
        <v-container>
          <v-row>
            <v-col>
              <v-text-field prepend-icon="mdi-counter" type="number" v-model="limit" label="Words to add"></v-text-field>
            </v-col>
            <v-col>
              <v-select prepend-icon="mdi-account" v-model="actor" label="Writing as" :items="actorOptions"></v-select>
            </v-col>
            <v-col>
              <v-select prepend-icon="mdi-robot" v-model="selectionMethod" label="Word picking method" :items="selectionMethods"></v-select>
            </v-col>
          </v-row>
          <v-btn color="primary" @click="addNewText">Add words!</v-btn>
        </v-container>
      </v-card>
    </v-container>
    <v-sheet height="100px"></v-sheet>
  </v-container>
</template>

<script>
import { wordFollowCount, generateSentence, splitOnPerson } from '@/Helpers'
export default {
  data: () => ({
    text: 'Good morning',
    actor: '',
    limit: 3,
    loading: false,
    selectionMethod: 'psuedorandom',
    selectionMethods: [
      { text: 'Pseudo-random', value: 'psuedorandom' },
      { text: 'Random', value: 'random' },
      { text: 'Most common', value: 'maximum' },
      { text: 'Most common unique', value: 'restricted' }
    ]
  }),
  mounted () {
    this.actor = this.$store.state.corpus.participants[0].name
  },
  computed: {
    visualisationID () {
      return this.$route.params.visId
    },
    frequenciesByPerson () {
      const wordFollows = {}
      // Create frequencies tree for each participant
      wordFollows['Everyone Combined'] = wordFollowCount(this.$store.state.corpus)
      splitOnPerson(this.$store.state.corpus).forEach((corpusPerson) => {
        wordFollows[corpusPerson.participants[0].name] = wordFollowCount(corpusPerson)
      })
      return wordFollows
    },
    actorOptions () {
      const actors = []
      Object.keys(this.frequenciesByPerson).forEach((actor) => {
        actors.push(actor)
      })
      return actors
    }
  },
  methods: {
    /**
     * Add new generated text to text field
     */
    addNewText () {
      this.loading = true
      let addableString = ''
      const sentence = generateSentence(this.frequenciesByPerson[this.actor], this.limit, this.selectionMethod, this.text)
      console.log(sentence)
      sentence.forEach((wordWrapper, i) => {
        addableString += ' ' + wordWrapper.word
      })
      this.text += ' ' + addableString.substr(addableString.indexOf(' ', 1) + 1)
      this.loading = false
    }
  }
}
</script>
