<template>
  <v-container>
    <chart title="Messages sent over time" :options="tsNums"/>
    <msg-per-x label="In the last month, " :corpus="rangedCorpus"></msg-per-x>
    <msg-per-x label="Since using Messenger to talk to eachother, " :corpus="$store.state.corpus"></msg-per-x>
    <v-sheet height="100px"></v-sheet>
  </v-container>
</template>

<script>
import { getCorpusOfLastPeriod, buildTimeSeries } from '@/Helpers'
export default {
  components: {
    MsgPerX: () => import('@/components/vis/MsgPerX'),
    Chart: () => import('@/components/Chart')
  },
  computed: {
    tsNums () {
      return {
        chart: {
          zoomType: 'x'
        },
        xAxis: {
          type: 'datetime'
        },
        yAxis: {
          title: {
            text: 'Messages sent'
          }
        },
        plotOptions: {
          series: {
            pointStart: 0,
            pointInterval: 1,
            enabled: false,
            marker: {
              enabled: false
            }
          }
        },
        series: [{
          type: 'spline',
          name: 'Messages sent',
          color: '#d65858',
          data: buildTimeSeries(this.$store.state.corpus, [1, 'month'], 0, (localDataPoint) => {
            return localDataPoint + 1
          }).reverse()
        }]
      }
    },
    visualisationID () {
      return this.$route.params.visId
    },
    rangedCorpus () {
      return getCorpusOfLastPeriod(this.$store.state.corpus)
    }
  }
}
</script>
