<template>
  <v-container>
    <chart title="Words by times sent" :options="tsNums"/>
    <v-sheet height="100px"></v-sheet>
  </v-container>
</template>

<script>
import { orderCorpusWordsByFrequency } from '@/Helpers'
export default {
  components: {
    Chart: () => import('@/components/Chart')
  },
  computed: {
    visualisationID () {
      return this.$route.params.visId
    },
    tsNums () {
      const number = 500
      const options = {
        chart: {
          type: 'bar',
          height: number * 20
        },
        xAxis: {
          type: 'category'
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Occurances of word'
          }
        },
        legend: {
          enabled: false
        },
        tooltip: {
          pointFormat: 'Occurance of word: <b>{point.y:.0f}</b>'
        },
        colors: ['pink', 'lightblue', 'green', 'red', 'purple', 'brown'],
        series: [{
          name: 'Population',
          data: orderCorpusWordsByFrequency(this.$store.state.corpus, number),
          dataLabels: {
            enabled: true
          }
        }]
      }
      return options
    }
  }
}
</script>
