<template>
  <v-container>
    <chart title="Percentage of messages sent by hour" :options="tsNums"/>
    <chart title="Percentage of messages sent by hour by person" :options="tsNums2"/>
    <v-sheet height="100px"></v-sheet>
  </v-container>
</template>

<script>
import { getCorpusOfLastPeriod, splitOnPerson, classifyBy24Hr } from '@/Helpers'
export default {
  components: {
    Chart: () => import('@/components/Chart')
  },
  computed: {
    visualisationID () {
      return this.$route.params.visId
    },
    rangedCorpus () {
      return getCorpusOfLastPeriod(this.$store.state.corpus)
    },
    tsNums () {
      const options = {
        chart: {
          zoomType: 'x'
        },
        xAxis: {
          tickInterval: 1,
          min: 0,
          max: 23,
          labels: {
            format: '{value}:00 - {value}:59'
          }
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Frequency [%]'
          }
        },
        tooltip: {
          headerFormat: '{point.key}:00 - {point.key}:59<br>',
          shared: true,
          crosshairs: true,
          pointFormat: "<span style='color:{point.color}'>●</span> {series.name}: <b>{point.y:.2f}%</b><br/>"

        },
        colors: ['pink', 'lightblue', 'green', 'red', 'purple', 'brown'],
        plotOptions: {
          series: {
            pointStart: 0,
            pointInterval: 1,
            enabled: false,
            marker: {
              enabled: false
            }
          }
        },
        series: [{
          type: 'spline',
          name: 'Message frequency (All time)',
          data: classifyBy24Hr(this.$store.state.corpus)
        }, {
          type: 'spline',
          name: 'Message frequency (Last 30 days)',
          data: classifyBy24Hr(this.rangedCorpus, this.rangedCorpus.messages.length)
        }]
      }
      return options
    },
    tsNums2 () {
      const options = {
        chart: {
          zoomType: 'x'
        },
        xAxis: {
          tickInterval: 1,
          min: 0,
          max: 23,
          labels: {
            format: '{value}:00 - {value}:59'
          }
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Frequency [%]'
          }
        },
        tooltip: {
          headerFormat: '{point.key}:00 - {point.key}:59<br>',
          shared: true,
          crosshairs: true,
          pointFormat: "<span style='color:{point.color}'>●</span> {series.name}: <b>{point.y:.2f}%</b><br/>"

        },
        colors: ['pink', 'lightblue', 'green', 'red', 'purple', 'brown'],
        plotOptions: {
          series: {
            pointStart: 0,
            pointInterval: 1,
            enabled: false,
            marker: {
              enabled: false
            }
          }
        },
        series: []
      }
      splitOnPerson(this.$store.state.corpus).forEach((corpusPerson, i) => {
        options.series.push({
          type: 'spline',
          name: corpusPerson.participants[0].name,
          data: classifyBy24Hr(corpusPerson) // , this.$store.state.corpus.messages.length
        })
      })
      return options
    }
  }
}
</script>
