<template>
  <v-container>
    <chart title="Messages sent over time" :options="tsNums"/>
    <proportions-messages label="Percentage of messages sent by, " :corpus="$store.state.corpus" />
    <proportions-messages label="Percentage of messages sent by (Last month), " :corpus="rangedCorpus" />
    <v-sheet height="100px"></v-sheet>
  </v-container>
</template>

<script>
import { getCorpusOfLastPeriod, splitOnPerson, buildTimeSeries } from '@/Helpers'
export default {
  components: {
    ProportionsMessages: () => import('@/components/vis/ProportionsMessages'),
    Chart: () => import('@/components/Chart')
  },
  computed: {
    visualisationID () {
      return this.$route.params.visId
    },
    rangedCorpus () {
      return getCorpusOfLastPeriod(this.$store.state.corpus)
    },
    tsNums () {
      const options = {
        chart: {
          zoomType: 'x'
        },
        xAxis: {
          type: 'datetime'
        },
        yAxis: {
          title: {
            text: 'Messages sent'
          }
        },
        colors: ['pink', 'lightblue', 'green', 'red', 'purple', 'brown'],
        plotOptions: {
          series: {
            pointStart: 0,
            pointInterval: 1,
            enabled: false,
            marker: {
              enabled: false
            }
          }
        },
        series: []
      }
      splitOnPerson(this.$store.state.corpus).forEach((corpusPerson, i) => {
        options.series.push({
          type: 'spline',
          name: corpusPerson.participants[0].name,
          data: buildTimeSeries(corpusPerson, [1, 'month'], 0, (localDataPoint) => {
            return localDataPoint + 1
          }).reverse()
        })
      })
      return options
    }
  }
}
</script>
