<template>
  <v-container>
    <v-container>
      <v-card>
        <v-card-title>Search Phrase</v-card-title>
        <v-container>
          <v-text-field label="Search phrase" v-model="searchPhraseComputed"></v-text-field>
        </v-container>
      </v-card>
    </v-container>
    <v-container>
      <v-card>
        <v-card-title>{{searchPhrase}}'s sent over time</v-card-title>
        <highcharts :options="tsNums"></highcharts>
      </v-card>
    </v-container>
    <proportions-messages :label="'Percentage of ' +searchPhrase+  '\'s sent by, '" :corpus="loveCorpus" />
    <v-sheet height="100px"></v-sheet>
  </v-container>
</template>

<script>
import _ from 'lodash'
import { getCorpusContainingPhrase, splitOnPerson, buildTimeSeries } from '@/Helpers'
import ProportionsMessages from '@/components/vis/ProportionsMessages'
export default {
  components: {
    ProportionsMessages
  },
  data: () => ({
    searchPhrase: 'Good morning'
  }),
  computed: {
    visualisationID () {
      return this.$route.params.visId
    },
    searchPhraseComputed: {
      get () {
        return this.searchPhrase
      },
      set: _.debounce(function (newValue) {
        this.searchPhrase = newValue
      }, 200)
    },
    loveCorpus () {
      return getCorpusContainingPhrase(this.$store.state.corpus, this.searchPhrase)
    },
    loveCorpusByPerson () {
      return splitOnPerson(this.loveCorpus)
    },
    tsNums () {
      const options = {
        chart: {
          zoomType: 'x'
        },
        xAxis: {
          type: 'datetime'
        },
        yAxis: {
          title: {
            text: 'Messages sent'
          }
        },
        tooltip: {
          shared: true
        },
        colors: ['pink', 'lightblue', 'green', 'red', 'purple', 'brown'],
        plotOptions: {
          series: {
            pointStart: 0,
            pointInterval: 1
          }
        },
        series: []
      }
      this.loveCorpusByPerson.forEach((corpusPerson, i) => {
        options.series.push({
          type: 'spline',
          lineWidth: 0,
          marker: {
            enabled: 'true',
            states: {
              hover: {
                enabled: 'true'
              }
            },
            radius: 5
          },
          states: {
            hover: {
              lineWidthPlus: 0
            }
          },
          name: corpusPerson.participants[0].name,
          data: buildTimeSeries(corpusPerson, [1, 'week'], 0, localDataPoint => localDataPoint + 1).reverse()
        })
      })
      return options
    }
  }
}
</script>
