<template>
  <v-container>
    <v-card>
      <v-card-title style="word-break: normal;">{{label}} from {{frequencies.startDate.locale($i18n.locale).format("L")}} to {{frequencies.endDate.locale($i18n.locale).format("L")}} ({{frequencies.days}} days), we have sent</v-card-title>
      <v-card-text>
        <b>{{frequencies.perHour}}</b> messages per hour,<br>
        <b>{{frequencies.perDay}}</b> messages per day,<br>
        <b>{{frequencies.perWeek}}</b> messages per week,<br>
        <b>{{frequencies.perMonth}}</b> messages per month<br>
        <br>
        On average, a message was sent every <b>{{frequencies.timeTillMessage.locale($i18n.locale).humanize()}}.</b>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import { getRegularFrequencies } from '@/Helpers'
export default {
  props: {
    corpus: Object,
    label: String
  },
  computed: {
    frequencies () {
      return getRegularFrequencies(this.corpus)
    }
  }
}
</script>
