<template>
  <v-container>
    <v-card>
      <v-card-title>{{label}}</v-card-title>
      <v-card-text>
        <v-row>
          <v-col sm="6">
            <p v-for="person in proportions" :key="person.participants[0].name">
              <b>{{person.participants[0].name}}</b><br />
              Percentage of messages sent: <b>{{person.messagesPercent}}%</b> ({{person.messagesNums}})<br />
              Percentage of words sent: <b>{{person.wordsPercent}}%</b> ({{person.words}})<br />
              Percentage of characters sent: <b>{{person.charactersPercent}}%</b> ({{person.characters}})
            </p>
          </v-col>
          <v-col sm="6">
            <v-tabs centered v-model="selectedPie">
              <v-tab v-for="(pieType, key) in pieTypes" :key="key">{{pieType.text}}</v-tab>
            </v-tabs>
            <center>
              <highcharts style="width: 60%;" :options="pieChart"></highcharts>
            </center>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import { getSenderProportions } from '@/Helpers'

export default {
  props: {
    corpus: Object,
    label: String
  },
  data: () => ({
    selectedPie: 0,
    pieTypes: [
      { text: 'Messages', value: 'messagesNums' },
      { text: 'Words', value: 'words' },
      { text: 'Characters', value: 'characters' }
    ]
  }),
  computed: {
    proportions () {
      return getSenderProportions(this.corpus)
    },
    selectedPieItem () {
      return this.pieTypes[this.selectedPie]
    },
    pieChart () {
      const options = {
        chart: {
          zoomType: 'x'
        },
        title: {
          text: ''
        },
        yAxis: {
          title: {
            text: 'Percentage'
          }
        },
        colors: ['pink', 'lightblue', 'green', 'red', 'purple', 'brown'],
        plotOptions: {
          series: {
            pointStart: 0,
            pointInterval: 1,
            enabled: false,
            dataLabels: {
              enabled: false
            },
            marker: {
              enabled: false
            }
          }
        },
        series: [{
          name: this.selectedPieItem.text,
          type: 'pie',
          data: []
        }]
      }
      this.proportions.forEach((person, i) => {
        options.series[0].data.push([person.participants[0].name, person[this.selectedPieItem.value]])
      })
      return options
    }
  }
}
</script>
