<template>
  <v-container>
    <v-card>
      <v-card-title>{{title}}</v-card-title>
      <highcharts :options="options"></highcharts>
    </v-card>
  </v-container>
</template>

<script>
export default {
  props: {
    title: { type: String, required: false, default: '' },
    options: { type: Object, required: true }
  }
}
</script>
