<template>
  <v-footer dark padless>
    <v-card class="flex" flat tile>
      <v-card-title class="indigo lighten-3">
        <v-spacer></v-spacer>
        <span style="font-size: 13px; font-weight: 400; margin-right: 10px;">© {{ new Date().getFullYear() }} — River Vaughn Vink</span>
        <v-btn v-for="link in links" :key="link.url" target="_blank" :href="link.url" class="mx-1" dark icon>
          <v-icon size="20px">
            {{ link.icon }}
          </v-icon>
        </v-btn>
        <v-spacer></v-spacer>
      </v-card-title>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  data: () => ({
    links: [
      { icon: 'mdi-linkedin', url: 'https://www.linkedin.com/in/river-vaughn-vink/' },
      { icon: 'mdi-email', url: 'mailto:rivervaughnvink@outlook.com' }
    ]
  })
}
</script>
