<template>
  <div>
    <transition name="fade">
      <v-chip v-if="tickShow" color="green darken-2" dark>
        <div style="padding-right: 8px;">
          {{loadingText}}
        </div>
        <v-progress-circular v-if="loading" indeterminate size="18" width="2"></v-progress-circular>
        <v-icon v-else>mdi-check</v-icon>
      </v-chip>
    </transition>
    <transition name="fade" v-for="(error, key) in errors" :key="key">
      <v-chip color="error" dark>
        <div style="padding-right: 8px;">
          {{error}}
        </div>
        <v-icon>mdi-warning</v-icon>
      </v-chip>
    </transition>
    <v-chip style="margin-left: 10px;" color="blue darken-2" dark @click="getCorpus = true">
      <v-icon left>mdi-facebook-messenger</v-icon> Chats
    </v-chip>
    <!-- <v-chip disabled v-if="corpus.name" style="margin-left: 10px;" color="info darken-2" dark>
      <v-icon left>mdi-account</v-icon> {{corpus.name}}
    </v-chip> -->
    <v-dialog width="500" persistent scrollable v-model="getCorpus">
      <v-card>
        <v-card-title>Select Chats</v-card-title>
        <v-card-text>
          <v-file-input
            v-model="zipLocation"
            label="Messenger Exported Archive"
            accept=".zip"
          ></v-file-input>
          <h3 v-if="chats.length > 0">Select chat</h3>
          <v-list>
            <v-list-item v-for="(chat, key) in chats" :key="key" @click="loadCorpus(chat)">
              <v-list-item-icon>
                <v-icon>
                  mdi-account
                </v-icon>
              </v-list-item-icon>
              <v-list-item-title>
                {{fixFacebookMessageISO(chat.messages[0].participants[0].name)}} {{((chat.messages[0].participants.length - 2) > 0) ? ' +' + (chat.messages[0].participants.length - 2) : ''}}
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { fixFacebookMessageISO } from '@/Helpers'
import $ from 'jquery'
const AdmZip = require('adm-zip')
export default {
  mounted () {
    this.corpus.messages = []
    // this.loadManifest()
  },
  computed: {
    loadingText () {
      if (this.loading) {
        return this.$i18n.t('home.loading', { x: this.corpus.messages.length })
      } else {
        return this.$i18n.t('home.loaded', { x: this.corpus.messages.length })
      }
    }
  },
  data: () => ({
    chats: [],
    loadingZip: false,
    zipLocation: null,
    getCorpus: true,
    filePrefix: '/messenger_data/',
    fileManifestName: 'manifest.json',
    fileArray: [],
    loading: false,
    errors: [],
    tickShow: false,
    corpus: {
      messages: []
    }
  }),
  watch: {
    zipLocation (newValue) {
      const context = this
      this.chats = []
      this.loadingZip = true
      this.unpackZip(newValue.path).then((zipEntries) => {
        let zipOk = false
        zipEntries.forEach(function (zipEntry) {
          if (zipEntry.entryName === 'messages/') {
            // zip is ok
            zipOk = true
          } else {
            const name = zipEntry.entryName.split('/')
            if (zipOk && name[0] === 'messages' && name[1] === 'inbox' && typeof name[3] === 'string' && name[3].includes('message_')) {
              const existingChat = context.chats.find(chats => chats.name === name[2])
              if (existingChat) {
                existingChat.messages.push(JSON.parse(zipEntry.getData().toString('utf8')))
              } else {
                context.chats.push({ name: name[2], messages: [JSON.parse(zipEntry.getData().toString('utf8'))] })
              }
            }
          }
        })
      }).catch((err) => {
        console.log(err)
      })
    }
  },
  methods: {
    fixFacebookMessageISO (str) {
      return fixFacebookMessageISO(str)
    },
    unpackZip (path) {
      return new Promise(function (resolve, reject) {
        try {
          const zip = new AdmZip(path)
          resolve(zip.getEntries())
        } catch (err) {
          reject(err)
        }
      })
    },
    loadCorpus (messageBlocks) {
      this.loading = true
      this.tickShow = false
      this.corpus = {
        messages: []
      }
      console.log(messageBlocks.messages)
      messageBlocks.messages.forEach((messageBlock, i) => {
        this.corpus.messages.push(...messageBlock.messages)
        this.corpus.participants = messageBlock.participants
      })
      this.corpus.name = this.fixFacebookMessageISO(this.corpus.participants[0].name)
      if ((this.corpus.participants.length - 2) > 0) {
        this.corpus.name += ' +' + (this.corpus.participants.length - 2)
      }
      this.getCorpus = false
      this.$store.commit('setCorpus', this.corpus)
      this.$emit('input', true)
      this.loading = false
      this.tickShow = true
      setTimeout(() => { this.tickShow = false }, 3000)
    },
    /**
     * Sets the corpus in Vuex
     * @param {Object} corpus Corpus with messages and participants
     */
    setCorpus (corpus) {
      this.$store.commit('setCorpus', corpus)
    },
    /**
     * Load the manifest which specifies which files to load
     * @return {Void}
     */
    loadManifest () {
      $.ajax({
        async: true,
        url: this.filePrefix + this.fileManifestName,
        dataType: 'json',
        success: (fileManifest) => {
          this.fileArray = fileManifest
          if (this.fileArray.length > 0) {
            this.loadEntries()
          } else {
            this.loading = false
            this.tickShow = false
            this.errors.push('No json data files specified in manifest (' + this.filePrefix + this.fileManifestName + ').')
          }
        },
        error: () => {
          this.loading = false
          this.tickShow = false
          this.errors.push('Could not load manifest (' + this.filePrefix + this.fileManifestName + ').')
        }
      })
    },
    /**
     * Loads files that were specified in the manifest
     * @return {Void}
     */
    loadEntries () {
      $.ajax({
        async: true,
        url: this.filePrefix + this.fileArray[0],
        dataType: 'json',
        success: (data) => {
          this.corpus.messages.push(...data.messages)
          this.corpus.participants = data.participants
          if (this.fileArray.length > 1) {
            this.fileArray.shift()
            this.loadEntries(this.fileArray)
          } else {
            this.$store.commit('setCorpus', this.corpus)
            this.$emit('input', true)
            this.loading = false
            this.tickShow = true
            setTimeout(() => { this.tickShow = false }, 3000)
          }
        }
      })
    }
  }
}
</script>
