<template>
  <v-container>
    <v-container>
      <v-card>
        <v-card-title>Messenger Analyser Setup</v-card-title>
        <v-text-field label="Folder with message files" :value="path" readonly @click="getFolder()"></v-text-field>
      </v-card>
    </v-container>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    path: ''
  }),
  computed: {
    files () {
      if (this.path !== '') {
        var dataFiles = require.context(this.path, true, /[A-Za-z0-9-_,\s]+\.json$/i)
        dataFiles.keys().forEach(key => {
          console.log(key)
        })
        return 'hey'
      } else {
        return null
      }
    }
  },
  methods: {
    getFolder () {
      if (window && window.process && window.process.type) {
        const { dialog } = window.require('electron').remote
        dialog.showOpenDialog({
          properties: ['openDirectory']
        }).then((dirObj) => {
          this.path = dirObj.filePaths[0]
          console.log(dirObj.filePaths[0]) // "Success"
        })
      }
    }
  }
}
</script>

<style>

</style>
