<template>
  <v-card :color="data.colour" dark>
    <div class="d-flex flex-no-wrap justify-space-between">
      <v-list-item @click="$router.push('/visualisation/'+data.id)" two-line>
        <v-list-item-content>
          <div class="overline mb-4">
            <v-icon>{{typeIcon}}</v-icon> {{$t('visualisation-types.' + data.type + '.title')}}
          </div>
          <v-list-item-title class="headline mb-1 text-capitalize">
            {{$t('visualisation.'+data.id+'.title')}}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </div>
  </v-card>
</template>

<script>
export default {
  props: {
    data: Object
  },
  computed: {
    typeIcon () {
      return this.$t('visualisation-types.' + this.data.type + '.icon')
    }
  }
}
</script>
