<template>
  <v-app class="full-height">
    <v-app-bar fixed color="white" elevate-on-scroll scroll-target="#scrolling">
      <v-btn @click="$router.push('/')" v-show="!isMainPage" icon>
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      <v-toolbar-title>{{pageTitle}}</v-toolbar-title>
      <v-spacer></v-spacer>
      <loading-status v-model="corpusIsLoaded"></loading-status>
    </v-app-bar>
    <div id="scrolling">
      <v-main>
        <transition name="fade" mode="out-in">
          <router-view v-if="corpusIsLoaded" />
        </transition>
        <settings-menu v-if="false"></settings-menu>
      </v-main>
      <v-sheet height="100px"></v-sheet>
      <contact-footer v-if="corpusIsLoaded"></contact-footer>
    </div>
  </v-app>
</template>

<script>
import LoadingStatus from '@/components/LoadingStatus'
export default {
  name: 'App',
  components: {
    LoadingStatus,
    // SettingsMenu: () => import('@/components/SettingsMenu'),
    ContactFooter: () => import('@/components/ContactFooter')
  },
  computed: {
    isMainPage () {
      return (this.$route.name === 'home.title')
    },
    pageTitle () {
      if (this.isMainPage) {
        return this.$i18n.t('app.title')
      } else {
        return this.$i18n.t(this.$route.name)
      }
    }
  },
  data: () => ({
    corpusIsLoaded: false
  })
}
</script>

<style>
#scrolling {
  overflow-y: scroll;height: calc(100% - 64px); top: 64px; position: absolute;width: 100%;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .3s
}
.fade-enter, .fade-leave-to {
    opacity: 0
}
html {
  overflow-y: hidden !important;
}
.full-height {
  height: 100%;
}
</style>
